<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidapp2020">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Android App 2020"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Board.Board_List.ETC.etc_free" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Game" />
        </activity>
        <activity android:name=".Board.Board_List.ETC.etc_find" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Game" />
        </activity>
        <activity android:name=".Board.Board_List.HS.hs_free">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Game" />
        </activity>
        <activity android:name=".Board.Board_List.HS.hs_find">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Game" />
        </activity>
        <activity android:name=".Board.Board_List.SC2.sc_free">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Game" />
        </activity>
        <activity android:name=".Board.Board_List.SC2.sc_find">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Game" />
        </activity>
        <activity android:name=".Board.Board_List.AmUs.au_free">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Game" />
        </activity>
        <activity android:name=".Board.Board_List.AmUs.au_find">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Game" />
        </activity>
        <activity android:name=".Board.Board_List.KR.kr_free">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Game" />
        </activity>
        <activity android:name=".Board.Board_List.KR.kr_find">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Game" />
        </activity>
        <activity android:name=".Board.Board_List.FIFA.ff_free">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Game" />
        </activity>
        <activity android:name=".Board.Board_List.FIFA.ff_find">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Game" />
        </activity>
        <activity android:name=".Board.Board_List.OW.ow_free">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Game" />
        </activity>
        <activity android:name=".Board.Board_List.OW.ow_find">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Game" />
        </activity>
        <activity android:name=".Board.Board_List.BG.BG_free">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Game" />
        </activity>
        <activity android:name=".Board.Board_List.BG.BG_find">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Game" />
        </activity>
        <activity android:name=".Board.Board_List.LoL.lol_find">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Game" />
        </activity>
        <activity android:name=".Board.Board_List.LoL.lol_free">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Game" />
        </activity>
        <activity android:name=".Board.Board_Item.BoardItem" />
        <activity android:name=".Board.Board_Write.board_write" />
        <activity android:name=".Board.Board_List.ETC.ET_Cetera">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Game" />
        </activity>
        <activity android:name=".Board.Board_List.HS.HearthStone">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Game" />
        </activity>
        <activity android:name=".Board.Board_List.SC2.StarCraft2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Game" />
        </activity>
        <activity android:name=".Board.Board_List.AmUs.AmongUs">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Game" />
        </activity>
        <activity android:name=".Board.Board_List.KR.KartRider">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Game" />
        </activity>
        <activity android:name=".Board.Board_List.FIFA.FifaOnline4">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Game" />
        </activity>
        <activity android:name=".Board.Board_List.OW.OverWatch">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Game" />
        </activity>
        <activity android:name=".Board.Board_List.BG.BattleGrounds">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Game" />
        </activity>
        <activity android:name=".Board.Board_List.LoL.League_of_Legend">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Game" />
        </activity>
        <activity android:name=".Game">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuActivity" />
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProfileActivity" />
        <activity android:name=".FriendAddActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".UserProfileActivity" />
        <activity android:name=".Board.Board_Write.board_edit" />
        <activity android:name=".Chat.ChattingRoom" />
        <activity android:name=".Chat.ChattingChannel" />
        <activity android:name=".Chat.GroupChattingRoom"/>
        <activity android:name=".Chat.CreateChatRoom" />
    </application>

</manifest>